/* Allgemein */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }
  
  .content-title {
    text-align: left;
  }
  
  /* Navigationsleiste */
  .navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .navbar-brand {
    font-weight: bold;
    color: #333;
  }
  
  .brand-highlight {
    color: #333;
  }
  
  .brand-X {
    color: blue;
    font-weight: bold;
  }
  
  /* Footer */
  .footer {
    background-color: #fff;
    padding: 10px;
    margin-top: auto;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .footer p {
    margin: 0;
    color: #333;
    font-size: 14px;
  }
  
  /* Registrierung und Login */
  .content-registration-login-pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-container label {
    font-weight: bold;
    color: #333;
  }
  
  .form-container input[type="email"],
  .form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .form-container button {
    width: 50%;
    padding: 10px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .feedback-button {
    padding: 10px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 20px;
  }
  
  /* Feedback-Seite */
  .content-feedback-page {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(0, 1fr);
    gap: 20px;
  }
  
  .feedback-header {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .feedback-title {
    color: #333;
  }
  
  .feedback-and-map-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .feedback-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
  }
  
  .map-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
  }
  
  @media screen and (min-width: 768px) {
    /* Für größere und mittlere Bildschirme */
    .feedback-and-map-container {
      display: flex;
      gap: 20px;
    }
  
    .feedback-container {
      flex: 1;
    }
  
    .map-container {
      flex: 1;
    }
  }
  
  @media screen and (max-width: 767px) {
    /* Für kleinere Bildschirmgrößen */
    .feedback-and-map-container {
      display: flex;
      flex-direction: column;
    }
  
    .feedback-container {
      order: 2;
      /* Feedback-Container wird unterhalb des Map-Containers angezeigt */
    }
  
    .map-container {
      order: 1;
      /* Map-Container wird oben angezeigt */
    }
  }
  
  @media screen and (min-width: 768px) {
    .feedback-and-map-container {
      grid-template-columns: 2fr 1fr;
    }
  }
  
  .map-rectangle {
    margin-bottom: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    min-width: 400px;
    min-height: 400px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .map-rectangle img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 10px;
  }
  
  .feedback-rectangle {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    min-width: 600px;
  }
  
  .feedback-text {
    margin: 20px;
    color: #333;
  }
  
  .feedback-buttons-container {
    display: flex;
    justify-content: space-between;
  }
  
  .feedback-button {
    padding: 10px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    flex-grow: 1;
    margin-top: 5px;
    margin-right: 10px;
    max-width: 300px;
    min-width: 200px;
  }
  
  .emoji-container {
    display: flex;
    align-items: center;
  }
  
  .emoji-container img {
    margin-left: 5px;
  }
  
  
  /* Tipps-Seite */
  
  
  .intro {
    margin-top: 40px;
    border-radius: 10px;
  }
  
  .tips {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .messaging {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  
  
  }
  
  
  .category-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .category-container {
      width: calc(50% - 20px);
      margin-right: 20px;
      height: 100%;
    }
  
    .category-container:nth-child(2n) {
      margin-right: 0;
    }
  
    .tips .row {
      margin-bottom: -20px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .category-container {
      width: calc(50% - 30px);
      margin-bottom: 20px;
    }
  
    .category-container:nth-child(2n) {
      margin-right: 30px;
    }
  
    .tips .row {
      margin-bottom: -40px;
    }
  }
  
  .messaging-text,
  .messaging-form {
    border-radius: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .messaging-text,
    .messaging-form {
      width: calc(50% - 20px);
      margin-right: 20px;
      height: 100%;
    }
  
    .messaging-text:nth-child(2n),
    .messaging-form:nth-child(2n) {
      margin-right: 0;
    }
  
    .messaging .row {
      margin-bottom: -20px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .messaging-text,
    .messaging-form {
      width: calc(50% - 30px);
      margin-bottom: 20px;
    }
  
    .messaging-text:nth-child(2n),
    .messaging-form:nth-child(2n) {
      margin-right: 30px;
    }
  
    .messaging .row {
      margin-bottom: -40px;
    }
  }
  
  
  .messaging-text form {
    display: flex;
    flex-direction: column;
  }
  
  .messaging-text textarea {
    resize: vertical;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .messaging-text button {
    padding: 10px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
  }
  
  .category-container {
    display: flex;
  }
  
  .category-text {
    min-height: 60px;
    flex-grow: 1;
  
    border-radius: 10px;
  }
  
  .category-icon {
    width: 50px;
    min-height: 60px;
    margin-left: 50px;
  }
  
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .popup-content {
    width: 80%; /* Ändere die Breite nach deinen Wünschen (z.B. 80%) */
    max-width: 800px; /* Setze eine maximale Breite, um das Popup nicht zu breit werden zu lassen */
    margin: 0 auto; /* Zentriere das Popup horizontal */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  
  .popup-content h3 {
    margin-top: 0;
  }
  
  .popup-content ol {
    padding-left: 20px;
    text-align: left;
  }
  
  .popup-content button {
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  


  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .button-container button {
    flex-basis: 45%;
  }
  
  #popupZuKalt {
    display: none;
  }
  
  #popupZuHeiss {
    display: none;
  }
  
  #popupBuerolaerm {
    display: none;
  }
  #popupSchlechteLuft {
  display: none;
}


#popupSchlechteLuft {
  display: none;
}

