// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$card-border-width: 3px;
$card-border-radius: 20px;
$btn-border-radius: 20px;
$tooltip-color:#ffffff;
$tooltip-bg: #1f1bea;
$tooltip-border-radius:50px;
$tooltip-arrow-width:               1.2rem;
$tooltip-arrow-height:              1rem;