// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Cards
$card-border-width: 5px;
$card-border-radius: 20px;
$card-height: null;

// Buttons
$btn-border-radius-lg: 40px;

// Tooltips
/* $tooltip-color:#ffffff;
$tooltip-bg: #905509;
$tooltip-border-radius:10px;
$tooltip-arrow-width:               1.2rem;
$tooltip-arrow-height:              1rem;
 */