// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$card-border-width: 5px;
$card-border-radius: 20px;
$card-height:                       null;

$btn-border-radius-lg: 40px;
$tooltip-color:#000000;
$tooltip-bg: #d9810f;
$tooltip-border-radius:50px;
$tooltip-arrow-width:               1.2rem;
$tooltip-arrow-height:              1rem;