


body {
    margin-top:2%;
    
}



.circleBtn {
    border-radius:50%;
}

#intro {
    background: url("./assets/img/panorama-3094696_1920.jpg") no-repeat center center;
    background-size: cover; 
}

.feedbackQ {
    font-size:120%;
}


