body {
    margin-top:2%;
}

.custom-tooltip {
    --bs-tooltip-color:#110080;
    --bs-tooltip-bg: #fbff00;
    --bs-tooltip-border-radius:10px;
    --bs-tooltip-tooltip-arrow-width: 1.2rem;
    --bs-tooltip-tooltip-arrow-height:1rem;
}

/* .circleBtn {
    border-radius:50%;
} */

#intro {
    background: url("./assets/img/panorama-3094696_1920.jpg") no-repeat center center;
    background-size: cover; 
}

.feedbackQ {
    font-size:120%;
}

.locationIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:blue;
    font-size: 2rem; 
}

#image-container {
    width: 75%;
    height: auto;
    max-width: 100%;

}

#image {
    justify-content: center;
}

.tooltip {
  z-index: 100; 
  opacity: 1;
}
 
.mapAdmin {
    width: 75%;
    right:-12.5%; 
}

.custom-tooltip {
    color:yellow;
}


/*  ----------------------------------------------------------------*/

/*----------------------------------------------------------------*/
.icon-wrapper {
    position: relative;
    display: inline-block;
    width:fit-content;
    height:fit-content;
}

.overlay-icon {
    position: absolute;
    left:70%;
    bottom: 0;
    z-index: 2;
    size: 50px;
}
    
  /*CSS PRODUCTION START----------------------------------------------------------------*/
 
/*   #feedback {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('/assets/img/architecture.jpg'); 
    position: no-repeat center center;
    background-size: cover;
    position: relative;
    z-index: 1;
  } */