
.custom-tooltip {
    /* --bs-tooltip-bg: var(--bs-primary); */
    --bs-tooltip-color:#110080;
    --bs-tooltip-bg: #fbff00;
    --bs-tooltip-border-radius:10px;
  
    --bs-tooltip-tooltip-arrow-width:               1.2rem;
    --bs-tooltip-tooltip-arrow-height:              1rem;
    

    
  }
  

body {
    margin-top:2%;
    
}



.circleBtn {
    border-radius:50%;
}

#intro {
    background: url("./assets/img/panorama-3094696_1920.jpg") no-repeat center center;
    background-size: cover; 
}

.feedbackQ {
    font-size:120%;
}

.locationIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:blue;
    font-size: 2rem;
}


